<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Dashboard</title>
        <link rel='stylesheet' href='/stylesheets/lib/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/lib/bootstrap-reboot.css' />
        <link rel='stylesheet' href='/stylesheets/lib/bootstrap-grid.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/create-playlist">
                                Create Playlist
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h2>Create Playlist</h2>
                </div>
            </main>
        </div>
    </div>
    </body>
    <script src="/javascripts/lib/jquery.js" />
    <script src="/javascripts/lib/bootstrap.js" />
    <script src="/javascripts/lib/bootstrap-bundle.js" />
    <script src="/javascripts/lib/bootstrap-bundle.js" />
    <script src="/javascripts/global.js" />
</html>
