<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lib/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/lib/bootstrap-reboot.css' />
    <link rel='stylesheet' href='/stylesheets/lib/bootstrap-grid.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div class="container-fluid">
      <a href="/login" type="button" class="btn btn-primary" id="spotifyLoginBtn">Login to Spotify</a>
    </div>
  </body>
  <script src="/javascripts/lib/jquery.js" />
  <script src="/javascripts/lib/bootstrap.js" />
  <script src="/javascripts/lib/bootstrap-bundle.js" />
  <script src="/javascripts/global.js" />
</html>
