<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="/javascripts/bootstrap.js" />
  <script src="/javascripts/bootstrap-bundle.js" />
  <script src="/javascripts/bootstrap-bundle.js" />
  <script src="/javascripts/global.js" />
</html>
